**Class 1**

In [ ]:
# Variable -> data container
num1=10
print(num1)
# #num1=
# @num1=
# Num1=
# -num1-=
# _num1_=
# -Num1_=

SyntaxError: ignored

In [ ]:
# Datatype -> type of the data which is stored inside a variable
# Int -> wholenumber doesn't contain a decimal number
num=10
print(num)
print(type(num))

10
<class 'int'>

In [ ]:
# float -> decimal number
num1=345.4
print(num1)
print(type(num1))

345.4
<class 'float'>

In [ ]:
# add
num2=123
num3=23.45
num4=num2+num3
print(num4)

146.45

In [ ]:
# String ->set of characters written in a single or double quotation is string
name='Introduction to Python'
print(name)
print(type(name))

Introduction to Python
<class 'str'>

In [ ]:
# Boolean -> true or false
print(3<7)

True

In [ ]:
# concatenation
num1=100
num2=34.345
print('The addition of two values are',(num1+num2))

The addition of two values are 134.345

In [ ]:
#concatenation
name1='hello'
name2='world'
print(name1 , name2)

hello world

In [ ]:
name="Tom"
print('My favorite cartoon name is',name)

My favorite cartoon name is Tom

In [ ]:
x=int(input("Enter the value:"))
y=int(input("Enter the second value:"))
print("The difference of to values are",(x-y))
print(type(x))
print(type(y))

Enter the value:1
Enter the second value:1
The difference of to values are 0
<class 'int'>
<class 'int'>

In [ ]:
num1=345.6
num2= 5670
print(' the addition of 2 values are',(num1+num2))
num5 = int(input("enter the first value:"))
print(" the difference is ",(num2+num5))
1

 the addition of 2 values are 6015.6
enter the first value:1
 the difference is  5671

In [ ]:
x=float(input('enter value:'))
y=float(input('enter value:'))
z=float(input('enter value'))
print('the solution is ',((x+y)/z))

enter value:1
enter value:1
enter value1
the solution is  2.0

In [ ]:
X=int(input('Enter a number : '))
Y=int(input('Enter another number : '))
Sum=X+Y
Difference=X-Y
print('The sum and difference are ',Sum,' and ',Difference, ' respectively.')

Enter a number : 10
Enter another number : 0
The sum and difference are  10  and  10  respectively.